.idea/
/vendor/
.php-cs-fixer.cache

# result mutations test (usage: https://infection.github.io/guide/usage.html)
# export PATH=~/.composer/vendor/bin:$PATH && infection
infection.log
per-mutator.md
summary.log
