* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    background: #151515;
    /*color: #999;*/
    color: #796252;
}

hr {
    border: none;
    color: #666;
    background-color: #666;
    height: 1px;
}

.ptitle {
    font-family: Times New Roman, sans-serif;
    font-size: 25px;
    color: #b9b982;
    padding: 40px 20px 20px 20px;
    text-align: center;
}

table {
    border: 0;
    width: 100%;
}

div.row {
    width: 90%;
    margin: 0 auto;
}

div.unit {
    width: 90%;
    margin: 15px auto;
}

div.unit table {
    border-collapse: collapse;
    font-size: 70%;
}

div.unit table thead {
    color: #555;
    text-align: center;
}

div.unit table td {
    padding: 2px;
}

div.unit table tbody {
    color: #999;
    text-align: center;
}

td.w25 {
    width: 25%;
}

td.w50 {
    width: 50%;
}

td.life_bar {
    width: 80px;
}

div.life_bar {
    width: 80px;
    height: 20px;
    background: #252525;
}

div.life {
    height: 20px;
    background: #454545;
}

div.life_text {
    width: 80px;
    height: 20px;
    margin-top: -20px;
}

.c4 {
    background: #252525;
}

.c6 {
    background: #454545;
}

.avatar_box {
    width: 40px;
    height: 50px;
    background-size: contain;
}

/* Unit box styles */

.unit_main_box {
    width: 280px;
    height: 117px;
    text-align: left;
}

.unit_box1 {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.unit_box2 {
    position: relative;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: url('/images/battle/unit.png');
}

.unit_box2_na {
    position: relative;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: url('/images/battle/unit_na.png');
}

.unit_box1_right {
    float: right;
    width: 164px;
    height: 117px;
}

.unit_box1_left {
    margin-right: 164px;
    width: 116px;
    height: 117px;
}

.unit_box1_left2 {
    padding: 10px;
}

.unit_ava {
    width: 97px;
    height: 97px;
    border-radius: 100%;
}

.unit_box1_right2 {
    padding-left: 4px;
}

.unit_box1_right3 {
    width: 152px;
    height: 117px;
}

.unit_box1_right4 {
    position: absolute;
    top: 58px;
}

.unit_hp {
    width: 152px;
    height: 14px;
    background: #fff;
}

.unit_cons {
    width: 152px;
    height: 4px;
    background: #444;
    margin-top: 3px;
}

.unit_cons_bar2 {
    height: 4px;
    background: #999;
    border-radius: 3px;
}

.unit_rage {
    width: 152px;
    height: 4px;
    background: #572506;
    margin-top: 3px;
}

.unit_rage_bar2 {
    height: 4px;
    background: #cd7038;
    border-radius: 3px;
}

.unit_box2_right {
    position: relative;
    top: 0;
    left: 115px;
    width: 164px;
    height: 117px;
}

.unit_box2_right2 {
    padding-top: 30px;
    padding-left: 4px;
}

.unit_box2_right3 {
    width: 95%;
    height: 20px;
    overflow: hidden;
}

.unit_box2_right3 p {
    font-family: arial, sans-serif;
    font-size: 17px;
    color: #c1c1c1;
    text-align: left;
}

.unit_box2_left {
    position: absolute;
    top: 0;
    margin-right: 164px;
    width: 116px;
    height: 117px;
}

.unit_hp_text {
    margin-top: -14px;
    width: 152px;
    height: 14px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #c1c1c1;
}

.unit_hp_text_add {
    margin-top: -14px;
    width: 152px;
    height: 14px;
    padding-left: 110px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #c1c1c1;
}

.unit_hp_bar {
    width: 152px;
    height: 14px;
    background: #4e0c0a;
}

.unit_hp_bar_mana {
    width: 152px;
    height: 14px;
    background: #0c0a4e;
}

.unit_hp_bar2 {
    height: 14px;
    background: #d72407;
    border-radius: 3px;
    width: 100%;
}

.unit_hp_bar2_mana {
    height: 14px;
    background: #0724d7;
    border-radius: 3px;
    width: 100%;
}

.unit_icon {
    padding-top: 84px;
    padding-left: 9px;
    padding-right: 8px;
}

.unit_icon_left {
    float: left;
    width: 26px;
    height: 26px;
    color: #a1a1a1;
    font-size: 20px;
    text-align: center;
    padding-top: 1px;
    margin-left: -1px;
    line-height: normal;
}

.unit_icon_right {
    float: right;
    width: 26px;
    height: 26px;
    margin-right: -3px;
    margin-top: 1px;
}

.unit_ava_blank {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

/* Table statistics styles */

div.statistics_box {
    margin: 30px auto;
    width: 50%;
}

table.statistics {
    border: 1px solid #444;
    border-collapse: collapse;
    width: 100%;
}

table.statistics td {
    border: 1px solid #444;
}

table.statistics .header td {
    background: #222;
    font-weight: 700;
}

span.stat_unit {
    color: #a9825d;
}

span.stat_damage {
    color: #a71d2a;
}

span.stat_taken {
    color: #0c8460;
}

span.stat_heal {
    color: #1c7430;
}

span.stat_kill {
    color: #d39e00;
}

img.stat_ava {
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 100%;
}

img.stat_damage, img.stat_life, img.stat_ava {
    vertical-align: middle;
}

p.right {
    text-align: right;
}

p.left {
    text-align: left;
}

/* Chat */

.com_container {
    width: 96%;
    height: 175px;
    position: relative;
    overflow: hidden;
    margin: 60px auto 60px auto;
    border: 1px solid #333;
    border-radius: 2px;
}

.com_container p {
    padding: 0 10px 5px 10px;
}

.com_container .com_content {
    width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: auto;
}

p.none {
    display: none;
}

p.view {
    display: block;
    font-size: 110%;
}

/* Animated box */

.d_red {
    width: 280px;
    height: 117px;
    text-align: left;
}
.d_green {
    width: 280px;
    height: 117px;
    text-align: left;
}
.d_grey {
    width: 280px;
    height: 117px;
    text-align: left;
}

.d_attack {
    animation: attack 500ms infinite linear;
    animation-direction: alternate;
    width: 280px;
    height: 117px;
    text-align: left;
}

.d_attack_s2 {
    animation: attack_s2 500ms infinite linear;
    animation-direction: alternate;
    width: 280px;
    height: 117px;
    text-align: left;
}

.d_buff {
    position: relative;
    animation: buff 500ms infinite linear;
    animation-direction: alternate;
    width: 280px;
    height: 117px;
    text-align: left;
}

.d_debuff {
    animation: animation_debuff 500ms infinite linear;
    animation-direction: alternate;
    width: 280px;
    height: 117px;
    text-align: left;
}

.d_debuff_s2 {
    animation: animation_debuff_s2 500ms infinite linear;
    animation-direction: alternate;
    width: 280px;
    height: 117px;
    text-align: left;
}

.unit_ava_red {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    animation: ava_red 500ms infinite linear;
    animation-direction: normal;
}

.unit_ava_effect_damage {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    animation: ava_ed 500ms infinite linear;
    animation-direction: normal;
}

.unit_ava_green {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    animation: ava_green 500ms infinite linear;
    animation-direction: normal;
}

.unit_ava_orange {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    animation: ava_orange 500ms infinite linear;
    animation-direction: normal;
}

.d_evasion {
    position: relative;
    animation: evasion 500ms infinite linear;
    animation-direction: alternate;
    width: 280px;
    height: 117px;
    text-align: left;
}

.d_evasion_s2 {
    position: relative;
    animation: evasion_s2 500ms infinite linear;
    animation-direction: alternate;
    width: 280px;
    height: 117px;
    text-align: left;
}

.d_block {
    position: relative;
    animation: block 1000ms infinite linear;
    width: 280px;
    height: 117px;
    text-align: left;
}

/* Animation */

@keyframes attack {
    0% {margin-left: 0;}
    40% {margin-left: -10px;}
    100% {margin-left: 30px;}
}

@keyframes attack_s2 {
    0% {margin-right: 0;}
    40% {margin-right: -10px;}
    100% {margin-right: 30px;}
}

@keyframes buff {
    0% {top: 0;}
    40% {top: 5px;}
    100% {top: -10px;}
}

@keyframes animation_debuff {
    0% {margin-left: 0;}
    100% {margin-left: 20px;}
}

@keyframes animation_debuff_s2 {
    0% {margin-left: 0;}
    100% {margin-left: -20px;}
}

@keyframes ava_red {
    0% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
        -moz-box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
        box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
    }
    10% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
        -moz-box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
        box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
    }
    20% {
        -webkit-box-shadow: inset 0 0 50px 10px rgba(230,18,29,1);
        -moz-box-shadow: inset 0 0 50px 10px rgba(230,18,29,1);
        box-shadow: inset 0 0 50px 10px rgba(230,18,29,1);
    }
    30% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
        -moz-box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
        box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
    }
    100% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
        -moz-box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
        box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
    }
}

@keyframes ava_green {
    0% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(18,130,29,1);
        -moz-box-shadow: inset 0 0 0 0 rgba(18,130,29,1);
        box-shadow: inset 0 0 0 0 rgba(18,130,29,1);
    }
    50% {
        -webkit-box-shadow: inset 0 0 50px 10px rgba(18,130,29,1);
        -moz-box-shadow: inset 0 0 50px 10px rgba(18,130,29,1);
        box-shadow: inset 0 0 50px 10px rgba(18,130,29,1);
    }
    100% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(18,130,29,1);
        -moz-box-shadow: inset 0 0 0 0 rgba(18,130,29,1);
        box-shadow: inset 0 0 0 0 rgba(18,130,29,1);
    }
}

@keyframes ava_orange {
    0% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(219, 96, 47, 1);;
        -moz-box-shadow: inset 0 0 0 0 rgba(219, 96, 47, 1);
        box-shadow: inset 0 0 0 0 rgba(219, 96, 47,1);
    }
    10% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(219, 96, 47,1);
        -moz-box-shadow: inset 0 0 0 0 rgba(219, 96, 47,1);
        box-shadow: inset 0 0 0 0 rgba(219, 96, 47,1);
    }
    20% {
        -webkit-box-shadow: inset 0 0 50px 10px rgba(219, 96, 47,1);
        -moz-box-shadow: inset 0 0 50px 10px rgba(219, 96, 47,1);
        box-shadow: inset 0 0 50px 10px rgba(219, 96, 47,1);
    }
    30% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(219, 96, 47,1);
        -moz-box-shadow: inset 0 0 0 0 rgba(219, 96, 47,1);
        box-shadow: inset 0 0 0 0 rgba(219, 96, 47,1);
    }
    100% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(219, 96, 47,1);
        -moz-box-shadow: inset 0 0 0 0 rgba(219, 96, 47,1);
        box-shadow: inset 0 0 0 0 rgba(219, 96, 47,1);
    }
}

@keyframes ava_ed {
    0% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
        -moz-box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
        box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
    }
    50% {
        -webkit-box-shadow: inset 0 0 50px 10px rgba(230,18,29,1);
        -moz-box-shadow: inset 0 0 50px 10px rgba(230,18,29,1);
        box-shadow: inset 0 0 50px 10px rgba(230,18,29,1);
    }
    100% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
        -moz-box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
        box-shadow: inset 0 0 0 0 rgba(230,18,29,1);
    }
}

@keyframes evasion {
    0% {left: 0; top: 0;}
    70% {left: 0; top: 0;}
    100% {left: 20px; top: 20px;}
}

@keyframes evasion_s2 {
    0% {left: 0; top: 0;}
    70% {left: 0; top: 0;}
    100% {left: -20px; top: 20px;}
}

@keyframes block {
    0% {top: 0;}
    50% {top: 0;}
    55% {top: 6px;}
    65% {top: -6px;}
    70%  {top: 0;}
    100%  {top: 0;}
}

/* Кнопка для отображения полного лога боя */

.spoiler_button {
    padding: 25px 0;
    margin: 0 auto;
    width: 250px;
    border-radius: 1px;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 15px;
    color: #9c6c47;
    text-decoration: underline;
}

.spoiler_button:hover {
    color: #ac8c47;
    text-decoration: none;
    cursor: pointer;
}

.spoiler_cont {
    display: none;
}

.full_log p {
    color: #999;
    padding: 4px;
    text-align: center;
}

.full_log h1 {
    color: #999;
    font-size: 25px;
    padding: 40px 20px 20px 20px;
    text-align: center;
}
